

/*color references:

  dark: #252421;
  darkest-red: #B63621;
  standard-red: #D56350;
  light-red: #EA846C;
  lightest-red: #F1927C;

*/


html, body, h1 {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  letter-spacing: 2%;
  background: #FFFEFC;
  color: #252421;
}

header {
  top: 0px;
  margin-top: -18px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-link, .nav-link a:visited {
  font-size: 12px;
  margin-right: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.nav-link a {
  color: #252421;
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 2px solid #D56350;
}

.nav-link a:hover {
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 -2 20 8'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift 1s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23000000' stroke-width='3' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 10px;
  border-bottom: 0;
  padding-bottom: 6px;
  text-decoration: none;
}

#home, #about, #work, #projects {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#work, #projects {
  display: none;
}

#home-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#home-introduction {
  margin-right: 50px;
  width: 330px;
  min-width: 330px;
}

#home-hello {
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

#home-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.75px;
  margin-bottom: 50px;
}

#home-text a:visited, #home-text a, #about-text a:visited, #about-text a {
  color: #B63621;
  font-weight: 700;
}

#logo{
  height: 450px;
  width: auto;
}

#about-text {
  width: 726px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.75px;
}

footer {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.25px;

}

@media screen and (max-width: 1000px) {
  
}




